<<<<<<< HEAD
.authorization {
    min-height: 100vh;
    justify-content: center;
    background-color: var(--background);

    form {
        flex-direction: column;
    }
=======
.authorization {
    min-height: 100vh;
    justify-content: center;
    background-color: var(--background);

    form {
        flex-direction: column;
    }
>>>>>>> b61e971f80dce077a527ead2a39e30a13dbe3abd
}