.contact {
    background-color: var(--dark-cyan);
    padding-bottom: 5rem;

    &__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    &__inner-form {
    }

    &__form {
        flex-direction: column;
        max-width: 600px;
        color: var(--white);
    }

    &__form-title {
        margin-bottom: 1.5rem;
        h1 {
            line-height: 52px;
        }
    }

    &__form-subtitle {
        margin-bottom: 1.5rem;
    }

    &__form-content {
        form {
            flex-direction: column;
        }
    }

    &__links {
    }

    &__links-inner {
        flex-direction: column;
        margin-left: 2rem;
        font-weight: var(--font-semi-bold);
    }

    &__link-item {
        a {
            color: var(--carrot);
        }
        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    &__link-image {
        // width: 100%;
        // max-width: 30px;
    }

    &__form-textbox {
        flex-direction: column;
        input,
        textarea {
            font-size: 1rem;
            padding: 1rem 1.5rem;
            margin-bottom: 1rem;
            font-family: var(--main-font);
            font-weight: var(--font-semi-bold);
            transition: 0.3s;

            &:focus {
                background-color: var(--background);
            }
        }
    }

    &__form-btn {
        justify-content: flex-end;
        a {
            background-color: var(--carrot);
            transition: 0.3s;
        }
    }
}
