@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;600;700&display=swap");
:root {
  --background: #e7e4e6;
  --white: #dad2d8;
  --gunmetal: #143642;
  --dark-cyan: #0f8b8d;
  --hover: #0f787a;
  --text-color: #37323e;
  --carrot: #ec9a29;
  --carnelian: #a8201a;
  --main-font: "Poppins", sans-serif;
  --text-font: "Merriweather", serif;
  --bigges-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;
  --font-light: 300;
  --font-regular: 400;
  --font-semi-bold: 600;
  --font-bold: 700;
  --z-upper: 10;
  --z-lower: 1;
  --header-height: 4rem;
}

@media screen and (min-width: 968px) {
  :root {
    --biggest-font-size: 3rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 100%;
}

body {
  margin: 0 0 0 0;
  font-family: var(--main-font);
  font-size: var(--normal-font-size);
  background-color: var(--text-color);
  color: var(--text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

form {
  padding: 0;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
  border-color: transparent;
}

textarea {
  resize: none;
}

h1 {
  line-height: 72px;
  font-size: 3rem;
  font-weight: var(--font-bold);
}

h2 {
  line-height: 32px;
  font-size: 1.5rem;
  font-weight: var(--font-semi-bold);
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 1280px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.container-form {
  margin: 25px 2rem;
}

.container-p-t {
  padding-top: 6rem;
}

.default-btn {
  display: inline-block;
  padding: 1rem 3rem;
  background-color: var(--gunmetal);
  color: var(--background);
  font-weight: var(--font-semi-bold);
  border-radius: 5px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.default-btn:hover {
  background-color: var(--hover);
}

.small-btn {
  border: 2px solid var(--dark-cyan);
  border-radius: 30px;
  padding: 10px 20px;
}

.small-btn:hover {
  border: 2px solid var(--hover);
}

.hide-form {
  display: none;
}

.selection-yellow {
  color: var(--carrot);
  font-weight: var(--font-bold);
}

.header {
  font-family: var(--main-font);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent;
  z-index: var(--z-upper);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header__nav {
  height: var(--header-height);
}

@media screen and (max-width: 847px) {
  .header__nav-menu {
    position: fixed;
    background-color: var(--background);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    padding: 2.5rem 0;
    width: 90%;
    top: -100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 2rem;
    z-index: var(--z-upper);
  }
}

.header__nav-list {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 1.5rem;
}

.header__nav-link, .header__nav-logo, .header__nav-burger {
  color: var(--text-color);
  font-weight: var(--font-semi-bold);
}

.header__nav-link, .header__nav-theme {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header__nav-link:hover, .header__nav-theme:hover {
  color: var(--dark-cyan);
}

.header__nav-logo {
  color: var(--dark-cyan);
  font-size: 2rem;
  font-weight: var(--font-bold);
}

.header__nav-theme {
  cursor: pointer;
  color: var(--text-color);
}

.header__nav-burger {
  font-size: 1.3rem;
  cursor: pointer;
}

.registration:nth-child(2) {
  background-color: var(--dark-cyan);
  color: var(--background);
}

.registration:nth-child(2):hover {
  color: var(--background);
  background-color: var(--hover);
}

.registration:nth-child(1):hover {
  color: var(--text-color);
}

.show-menu {
  top: calc(var(--header-height) + 1rem);
}

.active-link {
  position: relative;
}

.active-link::before {
  content: "";
  position: absolute;
  bottom: -0.75rem;
  left: 45%;
  width: 5px;
  height: 5px;
  background-color: var(--background);
  border-radius: 50%;
}

.scroll-header {
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--background);
}

.home {
  min-height: 100vh;
  background-image: url("../img/home_background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.home__inner-about {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.home__inner-about h1 {
  font-size: 3rem;
}

.home__inner-about p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.authorization {
  font-family: var(--main-font);
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--hover);
}

.authorization__content {
  background-color: var(--dark-cyan);
  min-width: 300px;
  border-radius: 5px;
  color: var(--background);
  font-weight: var(--font-regular);
  -webkit-box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
          box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.25);
}

.authorization input,
.authorization label {
  display: block;
}

.authorization__inner-title {
  text-transform: uppercase;
  font-size: 1.375rem;
  line-height: 2rem;
  font-weight: var(--font-bold);
  color: var(--carrot);
}

.authorization .form__textbox {
  margin: 20px 0;
}

.authorization .form__textbox input {
  min-width: 230px;
  height: 30px;
  border-radius: 5px;
  padding: 1rem 1rem;
  outline: none;
  border: none;
  font-weight: var(--font-semi-bold);
  font-size: 0.875rem;
}

.authorization .form__textbox label {
  text-transform: uppercase;
  font-size: 14px;
}

.authorization .form__textbox-group:not(:last-child) {
  margin-bottom: 30px;
}

.authorization .form__checkbox {
  margin-bottom: 20px;
}

.authorization .form__checkbox input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.authorization .form__checkbox input + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.authorization .form__checkbox input + label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: 1em;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 2px solid var(--white);
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.authorization .form__checkbox input:checked + label::before {
  border-color: var(--carrot);
  background-color: var(--carrot);
  background-image: url("../img/icons/check-line.png");
  background-size: cover;
}

.authorization .form__checkbox label {
  font-size: 14px;
}

.authorization .form__button input {
  font-family: var(--main-font);
  border: none;
  border-radius: 30px;
  width: 100%;
  padding: 12px 0;
  background-color: var(--gunmetal);
  color: var(--background);
  font-weight: var(--font-bold);
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.authorization .form__button input:hover {
  background-color: var(--hover);
}

.authorization__inner-link {
  position: relative;
  text-align: center;
  font-size: 12px;
  font-weight: var(--font-light);
  margin-top: 30px;
}

.authorization__inner-link a {
  color: var(--white);
  -webkit-transition: .3s;
  transition: .3s;
}

.authorization__inner-link a:hover {
  color: var(--carrot);
}

.authorization__inner-link span {
  color: var(--carrot);
  font-weight: var(--font-bold);
}

.authorization__inner-link::before {
  content: "";
  position: absolute;
  bottom: 150%;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--hover);
}

.about {
  min-height: 100vh;
}

.about::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  z-index: -1;
  -webkit-clip-path: polygon(80% 0, 100% 38%, 100% 100%, 50% 100%, 0 0);
          clip-path: polygon(80% 0, 100% 38%, 100% 100%, 50% 100%, 0 0);
  background-color: var(--dark-cyan);
}

@media screen and (max-width: 848px) {
  .about {
    padding: 6rem 0;
    background-color: var(--dark-cyan);
  }
  .about::after {
    content: none;
  }
  .about__inner {
    margin: 0 auto;
  }
  .about__inner-content {
    max-width: 464px;
    text-align: center;
  }
  .about__image img {
    width: 100%;
  }
}

.about__inner-content {
  margin: 0 auto;
}

.about__image {
  -ms-grid-column-align: center;
      justify-self: center;
}

.about__image img {
  max-width: 380px;
  border-radius: 50%;
}

.about__info {
  color: var(--white);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__info-title {
  color: var(--text-color);
}

.about__info-subtitle {
  font-size: 18px;
  font-style: italic;
  font-weight: var(--font-light);
  color: var(--gunmetal);
  line-height: 27px;
  margin-bottom: 1.125rem;
}

.about__info-text {
  font-size: 1rem;
}

.about__info-btn {
  margin-top: 35px;
}

.contact {
  background-color: var(--dark-cyan);
}

.contact__form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 600px;
  color: var(--white);
}

.contact__form-title {
  margin-bottom: 1.5rem;
}

.contact__form-title h1 {
  line-height: 52px;
}

.contact__form-subtitle {
  margin-bottom: 1.5rem;
}

.contact__form-content form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-textbox {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form-textbox input,
.contact__form-textbox textarea {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  margin-bottom: 1rem;
  font-family: var(--main-font);
  font-weight: var(--font-semi-bold);
  -webkit-transition: .3s;
  transition: .3s;
}

.contact__form-textbox input:focus,
.contact__form-textbox textarea:focus {
  background-color: var(--background);
}

.contact__form-btn {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact__form-btn a {
  background-color: var(--carrot);
  -webkit-transition: .3s;
  transition: .3s;
}

@media screen and (min-width: 848px) {
  body {
    margin: 0;
  }
  .section {
    padding: 6rem 0 2rem;
  }
  .header__nav {
    height: calc(var(--header-height) + 1rem);
  }
  .header__nav-list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
  }
  .header__nav-burger {
    display: none;
  }
  .change-theme {
    position: initial;
  }
  .about__inner-content {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 375px) {
  html {
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    margin: 0 auto;
  }
}

@media screen and (max-width: 1280px) {
  .container {
    margin: 0 1.5rem;
  }
}
