:root {
    //Colors
    --background: #e7e4e6;
    --gunmetal: #143642;
    --dark-cyan: #0F8B8D;
    --text-color: #37323e;
    --carrot: #EC9A29;
    --carnelian: #A8201A;

    //Fonts
    --main-font: "Poppins", sans-serif;
    --text-font: "Merriweather", serif;

    // Font size
    --bigges-font-size: 2rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: 0.938rem;
    --small-font-size: 0.813rem;
    --smaller-font-size: 0.75rem;

    //Font bold
    --font-semi-bold: 600;
    --font-bold: 700;

    //Z-index
    --z-upper: 10;
    --z-lower: 1;

    //Height
    --header-height: 4rem;

    @media screen and (min-width: 968px) {
        --biggest-font-size: 3rem;
        --h2-font-size: 1.75rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: 0.875rem;
        --smaller-font-size: 0.813rem;
    }
}
